.lead1 {
  padding: 20px;
  background-color: var(--lead1-background-color);
  color: var(--lead1-text-color);
}

.lead1 p {
  margin-bottom: 1em;
  font-weight: 500;
}

.call-link {
  color: var(--lead1-call-link);
}
