.btn {
  color: white;
  background: var(--header-background-color);
  border: 2px solid white;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 16px 32px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: var(--header-background-color);
}
