
ul.striped-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

ul.striped-list > li:nth-of-type(odd) {
  background-color: #e9e9f9;
}

ul.striped-list > li {
  padding: 2em;
}

.call-link {
  color: var(--call-link);
}
