.btn-primary {
  color: var(--hero-btn-primary-text-color);
  background: var(--hero-btn-primary-background-color);
  border: 3px solid var(--hero-btn-primary-border-color);
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: white;
  color: var(--header-background-color);
}
