.footer {
  composes: container from global;
  background-color: var(--primary-variant-color);
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.footer a:any-link,
.footer a:link,
.footer a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
