.hero {
  padding: 20px;
  background-color: var(--hero-background-color);
  color: var(--hero-text-color);
}

.hero h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

.hero .text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
