footer {
  padding: 20px 28px;
  background-color: var(--footer-background-color);
  display: flex;
  justify-content: space-between;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
