.featuredSection {
  padding: 20px 28px;
}

.featuredSection p {
  margin-bottom: 1em;
  font-weight: 500;
}

.featuredSectionLevel1 {
  background-color: var(--featured-section-level1-background-color);
  color: var(--featured-section-level1-text-color);
}

.featuredSectionLevel1 .callLink {
  color: var(--featured-section-level1-call-link);
}

.featuredSectionLevel2 {
  background-color: var(--featured-section-level2-background-color);
  color: var(--featured-section-level2-text-color);
}

.featuredSectionLevel2 .callLink {
  color: var(--featured-section-level2-call-link);
}
