.featured-section {
  padding: 20px 28px;
}

.featured-section p {
  margin-bottom: 1em;
  font-weight: 500;
}

.featured-section-level-1 {
  background-color: var(--featured-section-level1-background-color);
  color: var(--featured-section-level1-text-color);
}

.featured-section-level-1 .call-link {
  color: var(--featured-section-level1-call-link);
}

.featured-section-level-2 {
  background-color: var(--featured-section-level2-background-color);
  color: var(--featured-section-level2-text-color);
}

.featured-section-level-2 .call-link {
  color: var(--featured-section-level2-call-link);
}
