.hero {
  composes: container from global;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.hero h1 {
  font-weight: bold;
}

.hero .container {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
