.button {
  border-style: solid;
  border-width: calc(var(--layout-base) / 2);
  border-radius: var(--layout-base);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding: var(--layout-base) calc(var(--layout-base) + 2px);
}

.buttonprimary {
  background: var(--button-primary-background-color);
  border-color: var(--button-primary-border-color);
  color: var(--button-primary-text-color);
}

.buttonprimary.outline {
  background: var(--button-primary-ouline-background-color);
  border-color: var(--button-primary-ouline-border-color);
  color: var(--button-primary-ouline-text-color);
}
