header {
  align-items: center;
  display: flex;
  padding: 20px;
  background-color: var(--header-background-color);
}

.logo {
  margin: 0;
  padding: 0;
}

.logo a {
  text-decoration: none;
  color: var(--header-text-color);
  font-weight: bold;
  font-size: 18px;
}
