:root {
  --layout-base: 8px;

  --space-1x: var(--layout-base);
  --space-2x: calc(var(--layout-base) * 2);
  --space-3x: calc(var(--layout-base) * 3);
  --space-4x: calc(var(--layout-base) * 4);

  --vertical-spacing-1x: var(--layout-base);
  --vertical-spacing-2x: calc(var(--layout-base) * 2);

  --primary-color: #0078bf;
  --primary-variant-color: #00bccd;
  --secondary-color: #ee5ba0;
  --background-color: #ffffff;
  --background-variant-color: #eeeeee;
  --text-color: #808184;
}

.container :global {
  padding: var(--space-3x) var(--space-4x);
}
