:root {
  --header-background-color: #00bccd;
  --header-text-color: #ffffff;
  --footer-background-color: #00bccd;
  --footer-text-color: #ffffff;
  --hero-background-color: #ffffff;
  --hero-text-color: #0078bf;
  --button-primary-background-color: #0078bf;
  --button-primary-text-color: #ffffff;
  --button-primary-border-color: #0078bf;
  --button-primary-ouline-background-color: #ffffff;
  --button-primary-ouline-text-color: #0078bf;
  --button-primary-ouline-border-color: #0078bf;
  --featured-section-level1-background-color: #eeeeee;
  --featured-section-level1-text-color: #808184;
  --featured-section-level1-call-link: #ee5ba0;
  --featured-section-level2-background-color: #ffffff;
  --featured-section-level2-text-color: #808184;
  --featured-section-level2-call-link: #ee5ba0;
  --layout-base: 8px;

  --base-color: #00bccd;
  --default-color: #ffffff;
  --highlight-color:#eeeeee;
  --link-color: #ee5ba0;
  --primary-color: #0078bf;
  --text-color: #808184;
}
