body,
h1 {
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  margin: 2em;
}

#logo a {
  text-decoration: none;
}

.jumbotron {
  padding: 2em 2em;
  background-color: darkgray;
}

.jumbotron h1 {
  margin-bottom: 1em;
}

.btn {
  color: white;
  background: #0099cc;
  border: 2px solid white;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 16px 32px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: #0099cc;
}

ul.striped-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

ul.striped-list > li:nth-of-type(odd) {
  background-color: #e9e9f9;
}

ul.striped-list > li {
  padding: 2em;
}

footer {
  padding: 1em 2em;
}
